<!html>
<html>
  <head>
    <title>itwss?</title>
    <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
    <style>
      body {
       padding: 2em;
       background: cadetblue;
       font-family: "Bevan", Helvetica, ariel, sans-serif;
      }

      h1 {
        display: inline;
        text-shadow: aaa 0px 1px 0px;
      }

      .answer { padding-left: 0.2em; }

      input {
        font-size: 2em;
        font-family: "Bevan";
        background-color: salmon;
        border: 0px;
        padding: 0.2em;
        width: 100%;
      }

      footer, a { color: darkslategray; }
    </style>
  </head>

<body>
<h1>Is that what she said?</h1>
<h1 class='answer'></h1>
<input name="itwss">
<footer>
sinatra app by <a href="http://bitfission.com">will</a>,
twss classification gem by <a href="https://github.com/bvandenbos/twss">bvandenbos</a>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="underscore-min.js"></script>
<script>$(function(){

$("input").focus();

var fadeAndSay = function(msg) {
  $('.answer').fadeOut('fast', function() { $(this).text(msg).fadeIn('fast')})}

$("input").keyup(
  _.debounce(
      function() { window.location.hash = "#?/" + encodeURI($("input").val()) }
      , 600));

window.onpopstate = function() {
  var input = decodeURI(window.location.hash.slice(3))
  if( input === ''     ) { fadeAndSay(''); return }
  $("input").val(input)
  $.post(
      "/"
    , {"q": input}
    , function(response){ fadeAndSay(response.sheSaidIt ? "yes" : "no") }) }

});</script>
</body>
</html>
