body {
 padding: 2em;
 background: cadetblue;
 font-family: "Bevan", Helvetica, ariel, sans-serif;
}

h1 {
  display: inline;
 text-shadow: aaa 0px 1px 0px;
}

.answer {
  padding-left: 0.2em;
}

input {
  font-size: 2em;
  font-family: "Bevan";
  background-color: salmon;
  border: 0px;
  padding: 0.2em;
  width: 100%;
}

footer, a {
  color: darkslategray;
}


